.env
.Rproj.user
.Rhistory
.Rdata

# Data Files
data/Rauh_Schwalbach_2020_ParlSpeech/Corp_HouseOfCommons_V2.rds
data/Rauh_Schwalbach_2020_ParlSpeech/df_HoC.rds
data/Rauh_Schwalbach_2020_ParlSpeech/df_Con.csv
data/Rauh_Schwalbach_2020_ParlSpeech/df_Lab.csv
data/Rauh_Schwalbach_2020_ParlSpeech/df_LibDem.csv
data/Rauh_Schwalbach_2020_ParlSpeech/*csv
data/Rauh_Schwalbach_2020_ParlSpeech/HoC_boris_johnson.jsonl

data/Blumenau_2021/*csv
data/Blumenau_2021/*xlsx

data/*csv
data/*jsonl

# Results Files
results/Archives
results/*csv

# Virtual Environment
venv/

# Code Files
code/code_references

*.ipynb
