.env
.Rproj.user

# Data Files
data/Rauh_Schwalbach_2020_ParlSpeech/Corp_HouseOfCommons_V2.rds
data/Rauh_Schwalbach_2020_ParlSpeech/df_HoC.rds
data/Rauh_Schwalbach_2020_ParlSpeech/df_Con.csv
data/Rauh_Schwalbach_2020_ParlSpeech/df_Lab.csv
data/Rauh_Schwalbach_2020_ParlSpeech/df_LibDem.csv
data/Rauh_Schwalbach_2020_ParlSpeech/*csv

data/Blumenau_2021/*csv
data/Blumenau_2021/*xlsx

# Virtual Environment
venv/

# Code Files
code/chatbot_whatsapp.ipynb


